body{
	background-color: #CC99FF;
	border: 1px dotted #66FF99;
}

.div{
	background-color: #CCCCFF;
	border-radius: 5px;
	border: 1px solid #99CCCC;
}

#header{
	z-index: 1;
	padding: 25px;
	position: fixed;
	font-family: cursive;
	/*float: auto;*/
	text-align: center;
	color: #FFFFFF;
	width: 100%;
}

#nav_bar{
	position: fixed;
	z-index: 1;
	padding: 25px;
	left: 50%;
	margin-top: -10px;
}

.link{
	position: absolute;
	background-color: #99CCFF;
	color: #CC33CC;
}

a:link{
	text-decoration: none;
	color: #FFFFCC;
}

a:hover{
	color: #FF6699;
}

a:visited{
	color: #FFFFFF;
}

div p{

}

#image{
	float: right;
}

#footer{
	position: relative;
}
