body{
	background-color: #CC99FF;
}

.div{
	background-color: #CCCCFF;
	border-radius: 5px;
	border: 1px solid #99CCCC;
}

#header{
	border-radius: 100%;
	z-index: 2;
	padding: 20px;
	position: fixed;
	font-family: cursive;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
	width: 95%;
	height: 50px;
	font-style: bold;
	border: 2px dotted #66FF99;
	top: 0px;
	left: 1%;
}

/*#nav_bar{
	clear: left;
	position: fixed;
	top: 80px;
	left: 20px;
	z-index: 1;
	padding: 25px;
	width: 15%;
	height: 45%;
}*/

/*.link{
	z-index: 1;
	clear: left;
	top: 80px;
	left: 20px;
	float: left;
	width: 15%;
	height: 40px;
	display: block;
	position: fixed;
	background-color: #99CCFF;
	color: #CC33CC;
	border-radius: 5px;
	border: 1px solid #99CCCC;
	text-align: center;
	font-size: 20px;
}*/

li{
	text-align: left;
	bottom: 10px;
}

a:link{
	text-decoration: none;
	color: #FFFFCC;
}

a:visited{
	color: #FFFFFF;
}

li a{
	display: block;
	text-align: center;
	padding: 8px 0 8px 16px;
	color: #CC33CC;
}

#par{
	position: absolute;
	left: 35%;
	top: 23%;
	color: #CC33CC;
	text-align: left;
	width: 30%;
	height: 40%;
	font-size: 20px;
}

ul{
	float: left;
	clear: left;
	list-style-type: none;
	margin: 90px 10px 10px 0;
	padding: 0;
	overflow: auto;
	background-color: #99CCFF;
	border: 1px solid #99CCCC;
	border-radius: 5px;
	width: 25%;
	height: 50%;
	position: fixed;
}

ul li{
	float: left;
	text-align: center;
	display: block;
	position: absolute;
}

li a:hover{
	background-color: #CC99CC;
	color: #FF6699;
}

a:hover{
	color: #FF6699;
}

img {
	display: block;
	top: 80px;
	position: relative;
	float: right;
	height: 30%;
	width: 30%;
	margin: auto;
	clear: both;
	padding: 0px;
}

#footer{
	background-color: #CC99CC;
	text-align: center;
	font-size: 18px;
	font-family: cursive;
	color: #FFFFFF;
	width: 100%;
	/*position: relative;*/
	height: 50px;
	clear: both;
	bottom: 10px;
	padding: 20px;
}
